@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    40deg,
    rgb(50, 54, 58) 25%,
    rgba(88, 34, 57, 0.85) 60%,
    #f7797daa
  );
}
h1 {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: rgb(26, 26, 26);
  margin-bottom: 10px;
}

.logo {
  position: absolute;
  top: 10px;
  vertical-align: middle;
  left: 10px;
  font-weight: bold;
}
.logo svg {
  margin-top: -2px;
  vertical-align: middle;
  width: 25px;
  margin-right: 5px;
  fill: rgb(230, 70, 139);
}
.logo span {
  color: rgb(230, 70, 139);
}

.form-container {
  width: 80%;
}

fieldset {
  border-radius: 5px;
  margin: auto;
  margin-bottom: 20px;
  max-width: 450px;
  height: 45px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
fieldset div {
  width: 45px;
  height: 45px;
  background-color: rgb(58, 62, 66);
  padding: 13px;
}
fieldset div svg path {
  fill: rgb(26, 26, 26);
}

fieldset input {
  width: 95%;
  padding: 15px;
  background-color: rgb(63, 67, 73);
  border: none;
  outline: none;
  font-size: 14px;
  color: white;
}
fieldset input::placeholder {
  color: white;
}

fieldset + p {
  transform-origin: bottom;
  transition: 300ms;
  font-size: 0px;
  text-align: center;
  margin-top: -12px;
  margin-bottom: 15px;
  color: white;
}

button {
  border-radius: 5px;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 450px;
  padding: 15px;
  background-color: rgb(63, 67, 73);
  border: none;
  outline: none;
  font-size: 16px;
  color: white;
  font-weight: bold;
  background-color: rgb(184, 67, 118);
  cursor: pointer;
  transition: 100ms;
  font-weight: bold;
}
button:hover {
  background-color: rgb(159, 59, 102);
  transform: scale(0.98);
}

h5 {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  color: rgb(26, 26, 26);
  font-weight: bold;
}
h5 span {
  display: inline-block;
  width: 60px;
  cursor: pointer;
  color: white;
  transition: 200ms ease-out;
}
h5 span:hover {
  transform: translateX(10px);
}
h5 span svg {
  max-width: 20px;
  max-height: 13px;
  fill: white;
  vertical-align: middle;
}

.heart {
  z-index: -1;
  position: absolute;
  top: -100px;
  animation-name: fall;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}
@keyframes fall {
  from {
    top: -100px;
  }
  to {
    top: 110%;
  }
}

footer {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  color: rgb(26, 26, 26);
}

@media (max-width: 442px) {
  .form-container {
    width: 85%;
  }

  fieldset {
    height: 38px;
  }

  button {
    padding: 10px;
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
  }

  footer {
    font-size: 12px;
  }
}
